PORT=3003
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.juaxululyelhiwfjsadc:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
NATS_SERVERS='nats://localhost:4222'